@font-face {
    font-family: 'Caros Regular';
    src: url('./assets/fonts/Caros-Regular.woff') format('woff');
    }
    .caros {
    font-family: 'Caros Regular';
    }
.heading-text{
    font-size: 2.5rem;
}
.heading-text2{
    font-size: 1.5rem;
}
.contactinputs{
    width: 80%;
}
.leftText{
    font-size: 3.5rem;
}
.bg-silver{
    background-color: #f2f2f2;
}
@media screen and (max-width: 768px) {
    .heading-text{
        font-size: 1.5rem;
    }
    .heading-text2{
        font-size: 1rem;
    }
    .notimpo{
        display:none;
    }
    .contactinputs{
        width: 100%;
    }
    .contactdiv{
        width: 100%;
    }
    .leftText{
        font-size: 2.5rem;
    }
}
